body{
    box-sizing: border-box;
    background: url("./images/fondo.png");
    
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 650px;
    
}
